/* ----------- ----------- ----------- ----------- ----------- ----------- */
/* --------------------------- generic styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ----------- */

/* Use Required Google Font with Weights */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

/* everything applicable to or can be used for all elements */
/* color palette */
/* font size, weight */
:root {
  /* color related */
  --clr-cyan: hsl(179, 62%, 43%);
  --clr-light-cyan: rgb(55, 204, 201);
  --clr-bright-yellow: hsl(71, 73%, 54%);
  --clr-light-gray: rgb(192, 203, 209);
  --clr-grayish-blue: hsl(218, 22%, 67%);

  /* fonts related */
  --ff-primary: "Karla", sans-serif;
  --fw-400: 400;
  --fw-700: 700;
}

/* Universal Selector & explicitly set box-sizing type */
/* Box sizing rules */
/* reset margin, padding */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* typography */
html {
  /* 62.5% of 16px browser font size is 10px */
  font-size: 62.5%;
  line-height: 1.15;
}

body {
  /* 16px */
  font-size: 1.6em;
  font-family: var(--ff-primary);
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

/* ----------- ----------- ----------- ----------- ----------- ------------ */
/* --------------------------- specific styling --------------------------- */
/* ----------- ----------- ----------- ----------- ----------- ------------ */

body {
  background-color: var(--clr-light-gray);
}

/* mobile first approach */

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header-block"
    "article-subscription"
    "article-about";
  /* is this good idea ? */
  /* https://forum.freecodecamp.org/t/whats-the-best-way-to-define-variable-rows-height-in-css-grid/515515 */
  grid-template-rows: 250px 220px 250px;
  /* grid-auto-rows: minmax(100px, auto); */
  /* grid-template-rows: auto auto auto; */
  min-height: 100vh;
  margin: 6rem 3rem;
  /* debug purpose only */
  /* border: 2px solid rgb(25, 208, 102); */
}

.grid-container__child {
  padding: 2rem;
  display: grid;
  gap: 1rem;
}

.header-block {
  background-color: white;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.header-block__first-header {
  color: var(--clr-cyan);
  font-size: 2.1rem;
  font-weight: var(--fw-700);
}

.header-block__second-header {
  color: var(--clr-bright-yellow);
}

.header-block__info {
  color: var(--clr-light-gray);
}

.article-subscription {
  background-color: var(--clr-cyan);
}

.article-subscription__first-header {
  color: white;
}

.article-subscription__second-header_price {
  color: white;
  font-size: 3rem;
  display: inline-block;
  margin-right: 0.5rem;
}
.article-subscription__second-header_payment-frequncy {
  color: var(--clr-light-gray);
  vertical-align: 25%;
}

.article-subscription__info {
  color: white;
}

.article-subscription__cta-button {
  background-color: var(--clr-bright-yellow);
  color: white;
  padding: 1rem 0;
  margin-top: 2.5rem;
  border-radius: 1.1rem;
}

.article-about {
  background-color: var(--clr-light-cyan);
  color: white;
  gap: 0;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.article-about__header {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.article-about__info {
  font-size: 1.25rem;
}

/* mobile first approach */

@media screen and (min-width: 475px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100vh;
    align-items: center;
    justify-items: center;  */
  }

  .grid-container {
    /* FIX */
    /* https://stackoverflow.com/questions/72539181/grid-container-element-is-not-getting-centered */
    /* https://forum.freecodecamp.org/t/not-able-to-center-grid-container-element-with-min-height-strategy-per-fcc-article/515798/2 */
    min-height: min-content;
    max-width: 650px;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px 250px;
    grid-template-areas:
      "header-block header-block"
      "article-subscription article-about";
  }

  .article-subscription {
    border-bottom-left-radius: 1.5rem;
  }

  .article-subscription__cta-button {
    width: 85%;
  }

  .article-about {
    border-bottom-left-radius: 0;
  }
}

/* grid area names */

.header-block {
  grid-area: header-block;
  /* debug purpose only */
  /* border: 1px solid black; */
}

.article-subscription {
  grid-area: article-subscription;
  /* debug purpose only */
  /* border: 1px solid blue; */
}

.article-about {
  grid-area: article-about;
  /* debug purpose only */
  /* border: 1px solid rebeccapurple; */
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */
